.root {
  padding: 12px;
}

.heading {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 100px;
}

.subHeading {
  font-size: 24px;
  font-weight: 500;
}

.preOrder {
  padding: 8px;
  border-radius: 4px;
}

.mainContent {
  font-size: 48px;
  font-weight: 500;
  padding: 8px;
}

.img {
  margin-top: 32px;
  text-align: center;
}

.orderSummary {
  margin-top: 32px;
}

.delivery {
  margin-top: 32px;
}

.info {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
